
<footer class="page-footer font-tiny blue pt-4">
    <hr class="clearfix w-100 d-md-none pb-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-2 mb-md-0 mb-3"></div>
            <div class="col-md-8 mt-md-0 mt-3 text-muted">
                <p>
                    DISCLAIMER: the images on this website are the properties of their respective owners, and are merely
                    reposted from various free internet sources. For any enqueries contact the administrator through the
                    social links on the right.
                </p>

            </div>
            <div class="col-md-1 mb-md-0 mb-3">
                <h3>
                    <!--Twitter-->
                    <a href="https://twitter.com/s_tasheOfficial" class="tw-ic mr-3" role="button"><i
                            class="fab fa-lg fa-twitter"></i> </a>
                    <!--Github-->
                    <a href="https://github.com/erikoui/s-tashe" class="git-ic mr-3" role="button"><i
                            class="fab fa-lg fa-github"></i> </a>
                    <!--discord-->
                    <a href="https://discord.com/invite/bwTKN9uQYY" class="mr-3" role="button"><i
                            class="fab fa-lg fa-discord"></i> </a>
                </h3>
            </div>
            <div class="col-md-1 mb-md-0 mb-3">
                <ul>
                    <li>
                        <a href="/terms">Terms of service</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/pirvacy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">2020 <a href="http://s-tashe.com/about"> s-tashe.com</a>
    </div>
</footer>
