# Virtual environments
venv/
env/

# Editor files
.vscode/
.*.swp
.vs/
*.sln
*pyproj
*pyproj.user

# Config files
/config*

# Artifacts
**/__pycache__

# Databases
users.json

# Logs
*.log

# Misc
node_modules
