.jumbotron {
  background: #ffb8f6;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #748eff;
    border-color: #748eff; }
    .jumbotron .btn-primary:hover {
      background: #899fff; }
  .jumbotron p {
    color: #635b70;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
      
    .row {
      margin: auto;
      width: 90%;
    }

    .column {
      float: left;
      text-align: left;
      padding: 10px;
      border-radius: 5px;
      background-color: #eff5ff;
      color: black;
    }

    .left {
      width: 14%;
      margin-right: 10px;
    }

    .right {
      width: 14%;
      margin-left: 10px;
    }

    .middle {
      border-radius: 5px;
      background-color: #eff5ff;
      width: 65%;
    }


