<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container-fluid" style="width:90%">
        <div class="row">
            <div class="col-sm-2">
                <div class="col-sm-12 bg-left" id="left-bar">
                    <% include ../partials/leftad.ejs %>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12 bg-mid">
                        This website was made to find the best porn picture in the internet. We have a variety of
                        different tags so that we don't compare apples with urchins and bakers. The most likely
                        explanation for this creation is that there is something very specific that I was looking for...
                        it‭s very unusual, but with your help it can be done.<br><br>

                        If you have a really good idea of what you are interested in, let me know! I can add any tag you
                        like and the server will automatically download every thread that has a resemblance to that tag.
                        Make sure you vote on the pics. This way you earn points which, if you are really interested,
                        allow you to add/change tags, descriptions, model names, etc.<br><br>

                        These below are the archive links in case the auto-archiver decides to fuck up as usual:<br>
                        <ul>
                            <li>
                                <a href="/tag?tag=asian">Asians</a>
                            </li>
                            <li>
                                <a href="/tag?tag=latex">Latex</a>
                            </li>
                            <li>
                                <a href="/tag?tag=amateur">Amateur</a>
                            </li>
                            <li>
                                <a href="/tag?tag=bimbo">Bimbos</a>
                            </li>
                            <li>
                                <a href="/tag?tag=insta">Insta/fb/social</a>
                            </li>
                            <li>
                                <a href="/tag?tag=celeb">Celebs</a>
                            </li>
                        </ul>

                        Here are some of the best pics so far:<br>
                        <div class='row'>
                            <div class="col-md-3"><img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud/s-tashe-ibm-storage/94fde7af57124afc89f1b3de26e487aa.jpg" class="img-responsive"></div>
                            <div class="col-md-3"><img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud/s-tashe-ibm-storage/83b5d893e20ddd29df8f090df581bd0e.jpg" class="img-responsive"></div>
                            <div class="col-md-3"><img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud/s-tashe-ibm-storage/37c5d993b16db650b255abfc19550e89.jpg" class="img-responsive"></div>
                            <div class="col-md-3"><img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud/s-tashe-ibm-storage/4213769fd62c2b72b60aba69ae96f2ab.jpg" class="img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-12 bg-right" id="right-bar">
                    <% include ../partials/rightad.ejs %>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/stickyad.ejs %>
</body>
<% include ../partials/footer.ejs %>

</html>