<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src='/client-js/edittags-frontend.js'></script>
  <div class="container-fluid" style="width:90%">
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12 bg-left" id="left-bar">
          Click on any of these tags to remove it:
          <div id="loading-tags" inline>Loading tags...</div>
          <div id="remove-tag-list"></div>
          Click on any of these tags to add it:
          <div id="add-tag-list"></div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 bg-mid">
            <div class="row" id='pictainer'>
              <img id="pic" class="img-responsive" style="margin: 0 auto; border-radius: 5px;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-12 bg-right" id="right-bar">
          <%if(user) if(user.admin){%>
          <h3>Reports</h3>
          <div>
            <ul id="reports"></ul>
            <div id="loading">Loading reports...</div>
          </div>
          <a href='/API/removereports?picid=<%=picid%>' class="removeallreports btn btn-sm btn-success">Remove all
            reports</a>
          <a id='deletebutton' href='/API/deletePic?picid=<%=picid%>' class="confirm-button btn btn-sm btn-danger">Delete pic</a>
          <%}%>
        </div>
      </div>
    </div>
    <div id='picid' style="display:none;"><%=picid%></div>
</body>

</html>