<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src='/client-js/image-frontend.js'></script>
  <div class="container-fluid" style="width:90%">
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12 bg-left" id="left-bar">
          Click on any of these tags to remove it:
          <div id="loading-tags" inline>Loading tags...</div>
          <div id="remove-tag-list"></div>
          Click on any of these tags to add it:
          <div id="add-tag-list"></div>
          <h3>Image description</h3>
          <div id="img-desc" class="inline-div">Loading description...</div>
          <div class="inline-div"><a id='edit-desc' href=''><span
                class="glyphicon glyphicon glyphicon-pencil"></span></a></div>
          <h3>Model name</h3>
          <div id="img-modelname">Coming soon</div>
          <h3>Sauce</h3>
          <div id="img-sauce">Coming soon</div>
          <h3>Score</h3>
          <div id="img-score"></div>
          <% include ../partials/leftad.ejs %>

        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 bg-mid">
            <div class="row vote-container" id='pictainer' style="padding-left:20px;padding-right:20px">
              <img id="pic" class="img-responsive" style="width:100%; margin: 0 auto; border-radius: 5px;">
              <video id="vid" muted autoplay loop style="width:100%; margin: auto; border-radius: 5px; display:none">
                <source id="src" type='video/webm'>
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-12 bg-right" id="right-bar">
          <%if(user) if(user.admin){%>
          <h3>Reports</h3>
          <div>
            <ul id="reports"></ul>
            <div id="loading">Loading reports...</div>
          </div>
          <a id='remove-all-reports' href='/API/removereports?picid=<%=picid%>'
            class="removeallreports btn btn-sm btn-success">Remove all
            reports</a>
          <a id='deletebutton' href='/API/deletePic?picid=<%=picid%>'
            class="confirm-button btn btn-sm btn-danger">Delete pic</a>
          <%}%>
          <form id="reprot" method="POST" action='/report' class="form-vertical">
            <!-- Form Name -->
            <legend>Report</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="details">What is wrong? (optional)</label>
              <input id="details" name="details" type="text" placeholder="tag should be insta"
                class="form-control input-md">
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="control-label" for="rtype">Report type</label>
              <select id="rtype" name="rtype" class="form-control">
                <option value="tag">Wrong tag</option>
                <option value="description">Wrong description</option>
                <option value="badpic">Inappropriate pic</option>
                <option value="other">Other</option>
              </select>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="suggestedfix">How to fix it? (optional)</label>
              <input id="suggestedfix" name="suggestedfix" type="text" placeholder="change the tag pls"
                class="form-control input-md">
            </div>

            <!-- Also send the pic id -->
            <input type="hidden" name="picid" value="<%- picid %>" />

          <!-- Button -->
          <div class="form-group">
            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
          </div>
          </fieldset>
          </form>
          <div id="result"></div>
          <% include ../partials/rightad.ejs %>
        </div>
      </div>
    </div>
  </div>
  <div id='picid' style="display:none;"><%=picid%></div>
  <% include ../partials/stickyad.ejs %>
</body>
<% include ../partials/footer.ejs %>

</html>