<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script src="/client-js/showImages.js" type="module"></script>
  <div class="container-fluid" style="width:90%">
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12 bg-left">
          tags, rules, settings here
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 bg-mid">
            <div class="row">
              <div class="col-sm-6">
                <img src="https://via.placeholder.com/200" id="leftpic" class="img-responsive" style="width:100%" >
              </div>
              <div class="col-sm-6">
                <img src="https://via.placeholder.com/200" id="rightpic" class="pull-right img-responsive" style="width:100%" >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-12 bg-right">
          leadreborad here
        </div>
      </div>
    </div>
</body>

</html>