<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container-fluid" style="width:90%">
    <div class="row">
      <div class="col-sm-2">
        <div class="col-sm-12 bg-left" id="left-bar">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 bg-mid">
            Wrong password, your password has not been changed.
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="col-sm-12 bg-right" id="right-bar">
        </div>
      </div>
    </div>
</body>
<% include ../partials/footer.ejs %>
</html>